node_js:
- 4.1.2
language: node_js
install:
- npm install
- npm install -g grunt-cli
- wget https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
- unzip ./ngrok-stable-linux-amd64.zip
before_script:
# Create a random ngrok subdomain
- export SUBDOMAIN=$RANDOM$RANDOM
- ./ngrok http -authtoken $NGROK_AUTH -subdomain $SUBDOMAIN -log=stdout 8500 > /dev/null &
script:
- grunt travis
env:
  global:
  # SAUCE_USERNAME
  - secure: S/6Ild1n9SmW8xYqarjkigDqmyFgWS4Hi0M07e/ryPeS1MNQdiS5+WuSmlSTevM/wU/oSCvzXnKhO9W/1tvz4qj/BMQYxYWFjwWAXJrkjJPvWoa5ogYkR3ETSYrqdhkT+8LVof8iLPlpHjS1y2fozyJbYf1YNSkcVCLxMdIwnk0=
  # SAUCE_AUTH_KEY
  - secure: bkmtL2PXFGdOB6YNfWw6thEyVAbX/l7Q99pfT2jHmfzhTDf4/FT1CprsAacf0JeYkwMg5UQDMqAcZSojjO6GeAY8rhC94Tor5hKoEwCL4wg5NatXBUUI+WWaoBSg2KWYG2MfkPxtGJyNk1LPQoV+nUUzwEGejV8lJvaHVxkBsqA=
  # NGROK_AUTH
  - secure: JwP5MuqZ6k8FlHg8AnzYTrCZByJLnlu0to2srEwfVOhW1efGTEmtWf/SLlplYHcdelsFakdiSbD3BkZyEqpe/2/AIb56KLAqtE2Ng3WS8Vz/80yknxII0xcSPzAZdhZYRUJlbIrA1Ua3XGgirBenjn7ILFXNX/qLgvwJ1uLKCPo=
  # NPM_AUTH_TOKEN
  - secure: SSyoXltkQx2rLIXsEnNkk8uHtj3cuJbghFeSxZJ6Kop72MPxnmUFy42gVLlHmIx0uqHGTq6b9Hjy6bVkhWWlQ/bU799qzzzbW5VhCq7ABS6pc3jdqZgdxvbH5MQNycPw6+UunWOkn6B7b5M9mVdPjJczbNWNR0MSrlNyyAl3tic=
  # AWS_ACCESS_KEY
  - secure: aOy2xcW2SOYfjwQ8u67vvqypo32MdFsrtBdAWecmz4iOaoSojC8dMODmLFA7E24IqUwnvjfg946NqzGdfyUyOuDeBBb6WNJ8cw+MCzYkPhyyttWVl2ReFQR6bHWFcDiz+XNq8eVTGlsXQG2uFUTMW53F8jaSEObeKuvV8HY2gOg=
  # AWS_SECRET_KEY
  - secure: f82f6acRI/oAJXZcRW0GhivJlULHz1YjZhfHRdYJAc9eiVdNnORjmhnbA5G15N3uHIW5qQxtm/N9Dzww7UA/0Wky42/hrpY3kQVJoQPxq3+gyM4VjGDbG5qQxvB5XdTMpvd3JYzDnt5YfT95N8ulzaXKEZntcgVr28oYkWl5k6Q=
  # AWS_S3_BUCKET
  - secure: MxNkDQ16jtXERoHwS1WvArawL8QLbLCDlQdT7RW+oHOT36HQl6TN85wWouLV/R2LUfKQl0ec1alUc+P7TGUBi7xjIVMqxQbDS8Z6AaLThUyH2qSO6nj1Lb+boBG0CudEcBvP3gRTZM3Da6ZzTYGufSW5VMcdB6rpUFXtV7/vEio=
  # AWS_REGION
  - secure: lcBsNRDRfr8zagPhsrpp1Uiuiun63ibRbBDKVWIQVJmT5C6AC7D3bQit+s7tVQ5Oa4as1kQ+t+YcAw05JtPtMTRqS5TcSSLGdCnmgpuxFS/gHp8lz2tS1OlZVWaUGkqO1if9+GTq71EvJfwDMS9Pfho5GxlNECK32Z7OAeVYYsI=
  # AWS_CF_DISTRIBUTION
  - secure: gFwCjKd66udVNhl0bzSKezcb7esq8zS7YgdTVZ+Cmcm6Ua4eH8x64VJz2CCnWbQeVQE76OmYqTuJd8XI9p7RVbiv4yI/MW+DWYAPT1tt3Jhd+z9YFZ0+JBQQ8XnECOqb/0MCHakVm3wj/kQjeKGkDwlzoURhMaESqeIJxrh6nG4=
